.navbar {
    position: relative;
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.navbar .logo {
    width: 150px;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 19px;
    cursor: pointer;
}

.navbar-right {
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 40px;
}

.navbar-right img {
    cursor: pointer;
}

.navbar .sign-in button {
    background-color: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
}

.navbar button:hover {
    background-color: #fff4f2;
}

.navbar .active {
    padding-bottom: 2px;
    border-bottom: 3px solid tomato;
    color: tomato;
}

.small-media-menu .active {
    color: tomato;
    border: none;
}

.navbar-search-icon {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: bottom;
}

.small-media-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    transform: translateX(20);
    left: 0px;
    z-index: 10;
    background-color: white;
    padding: 20px 20px;
    gap: 20px;
    border: 1px solid rgb(240, 239, 239);
    width: 100%;
    cursor: pointer;
    right: 0px;
    text-align: center;
    border-radius: 10px;
}

.small-media-toggle-button {
    display: none;
    padding: 2px 2px;
    cursor: pointer;
    border-radius: 10px;
    background-color: white;
}

.navbar-signin-button {
    cursor: pointer;
}

.searchbar-container {
    position: fixed;
    background-color: white;
    display: flex;
    top: 0;
    gap: 10px;
    font-size: 36px;
    right: 0;
    z-index: 10;
    padding: 10px 10px;
    width: 100%;
}

.searchbar-container img {
    height: 20px;
    cursor: pointer;
}

.searchbar-container input {
    outline: none;
}

.navbar-search-icon .dot {
    position: absolute;
    min-height: 10px;
    min-width: 10px;
    background-color: red;
    border-radius: 50%;
    padding: 5px;
    top: -8px;
    right: -8px;
}

@media(max-width:1050px) {
    .navbar .logo {
        width: 140px;
    }
    .navbar-menu {
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right {
        gap: 30px;
    }
    .navbar-right img {
        width: 22px;
    }
    .navbar-right button {
        padding: 8px 25px;
    }
}

@media(max-width:900) {
    .navbar .logo {
        width: 120px;
    }
    .navbar-menu {
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right {
        gap: 20px;
    }
    .navbar-right img {
        width: 20px;
    }
    .navbar-right button {
        padding: 7px 20px;
        font-size: 15px;
    }
}

.navbar-profile {
    position: relative;
    cursor: pointer;
}

.navbar-profile-dropdown {
    position: absolute;
    right: 0;
    display: none;
    z-index: 1;
}

.navbar-profile:hover .navbar-profile-dropdown {
    display: flex;
    flex-direction: column;
    padding: 12px 15px;
    gap: 10px;
    background-color: #fff2ef;
    border-radius: 4px;
    border: 1px solid tomato;
    outline: 2px solid white;
    list-style: none;
}

.navbar-profile li {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.navbar-profile li:hover {
    color: tomato;
}

.navbar-profile img {
    width: 20px;
}

@media(max-width:700px) {
    .navbar-menu {
        display: none;
    }
    .navbar-signin-button {
        padding: 0px 0px;
    }
    .navbar-signin-button {
        display: none;
    }
    .small-media-toggle-button {
        display: flex;
    }
}