    .login-popup {
        display: grid;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #00000090;
        color: white;
        z-index: 1;
    }
    
    .login-popup-container {
        place-self: center;
        width: max(23vw, 330px);
        color: #80808080;
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 25px 30px;
        border-radius: 8px;
        font-size: 14px;
        animation: fadeIn 0.5s;
    }
    
    .login-popup-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: black;
    }
    
    .login-popup-title img {
        width: 16px;
        cursor: pointer;
    }
    
    .login-popup-input {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .login-popup-input input {
        outline: none;
        border: 1px solid#c9c9c9;
        padding: 10px;
        border-radius: 4px;
    }
    
    .login-popup-container button {
        border: none;
        padding: 10px;
        border-radius: 40px;
        cursor: pointer;
        color: white;
        background-color: tomato;
        font-size: 15px;
    }
    
    .login-error-message {
        color: red;
    }
    
    .login-popup-condition {
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-items: start;
        gap: 10px;
    }
    
    .login-popup-condition input {
        margin-top: 4px;
        margin-left: 0px;
        place-content: start;
        width: 30px;
    }
    
    .login-popup-container p span {
        color: tomato;
        font-size: 100;
        cursor: pointer;
    }