:root {
    --primary: #ff5e3a;
    /* Your Brand Orange */
    --secondary: #ffffff;
    /* White text for dark bg */
    --footer-bg: #2d3436;
    /* Dark Charcoal */
    --text-dim: #b2bec3;
    /* Muted text */
}

.footer {
    background-color: var(--footer-bg);
    color: var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 60px 8vw 20px;
    margin-top: 100px;
}

.footer-content {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}


/* Left Column */

.footer-content-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.footer-content-left p {
    color: var(--text-dim);
    line-height: 1.6;
    font-size: 0.95rem;
}

.footer-social-icons {
    display: flex;
    gap: 15px;
}

.icon-circle {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3d4446;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.icon-circle img {
    width: 20px;
}

.icon-circle:hover {
    background-color: var(--primary);
    transform: translateY(-5px);
}


/* Center & Right Columns */

.footer-content-center,
.footer-content-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.footer-content-center h2,
.footer-content-right h2 {
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
}

.footer-content-center ul,
.footer-content-right ul {
    list-style: none;
    padding: 0;
}

.footer-content-center li {
    margin-bottom: 10px;
    color: var(--text-dim);
    cursor: pointer;
    transition: 0.2s;
    text-transform: capitalize;
}

.footer-content-center li:hover {
    color: var(--primary);
    padding-left: 5px;
}

.contact-info {
    margin-bottom: 10px;
    color: var(--text-dim);
}


/* Bottom Bar */

.footer-divider {
    width: 100%;
    height: 1px;
    margin: 20px 0;
    background-color: #4b4b4b;
    border: none;
}

.footer-copy-right {
    font-size: 0.9rem;
    color: var(--text-dim);
    text-align: center;
}

.footer-copy-right span {
    color: var(--primary);
    font-weight: 600;
}


/* Responsive Design */

@media (max-width: 768px) {
    .footer-content {
        grid-template-columns: 1fr;
        gap: 35px;
        text-align: center;
    }
    .footer-content-left,
    .footer-content-center,
    .footer-content-right {
        align-items: center;
    }
    .footer {
        padding: 40px 5vw 20px;
    }
}