@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Outfit;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}

hr {
    border: none;
    height: 1px;
    background-color: #9a9a9a;
}

a {
    text-decoration-line: none;
}

.app {
    width: 80%;
    margin: auto;
    position: relative;
}

.app-content {
    display: flex;
}

.flex-col {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}