    .header {
        height: 34vw;
        margin: 10px auto;
        background: url("/header_img.png") no-repeat;
        position: relative;
        background-size: cover;
    }
    
    .header-content {
        margin-top: 20px;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.2vw;
        width: 100;
        bottom: 10%;
        top: -20px;
        left: 6vw;
        animation: fadeIn 3s;
    }
    
    .header-content h2 {
        font-weight: 700;
        color: white;
        width: 70%;
        margin-top: 20px;
        font-size: max(4.5vw, 22px);
    }
    
    .header-content p {
        color: white;
        width: 70%;
        font-size: 500;
    }
    
    .header-content button {
        border: none;
        color: #747474;
        font-weight: 500;
        padding: 1vw 2.3vw;
        background-color: white;
        font-size: (1vw, 13px);
        cursor: pointer;
        border-radius: 50px;
        width: 100%;
    }
    
    .header-content button:hover {
        color: white;
    }
    
    @media(max-width: 1050px) {
        /* .header-content {
            max-width: 45%;
        } */
    }
    
    @media(max-width:750px) {
        .header {
            height: 50vw;
        }
        /* .header-content {
            max-width: 65%;
        } */
        .header-content p {
            display: none;
        }
        .header-content button {
            padding: 2vw 2vh;
        }
    }